<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiarioADiario.My.MySettings.Conexion" connectionString="Data Source=DESKTOP-GL2VC9T\SQLSERVER;Initial Catalog=DDBD;Persist Security Info=True;User ID=sa;Password=54325432a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>